input[type="number"] {
  max-width: 80%;
}

.outer {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 200;
    font-size: 12px;
  }

h1, h2, h3, h4 { font-weight: 400; }

hr {
  margin: 5px;
}

#MainNavBar {
  font-size: 16px;
}

.controls {                           

/* Appearance */

  background-color: white;
 padding: 0 20px 10px 20px;
  cursor: move;                        

/* Fade out while not hovering */
  opacity: 1;                     
  transition: opacity 500ms 1s;       
/* zoom 0.9;  Removed as it messes up sliders */
}                                    


/* Fade in while hovering */
#controls:hover {
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}


.container-fluid{
padding: 0 0 0 0;
}

.navbar .nav{
  margin-top: 15px;
}


.modal-backdrop .fade .in{
  opacity: 0.05
}

.btn{
  margin-bottom: 2px;
}

.navbar {
  height: 70px;
}

.navbar .container {
  margin-left: 0px;
  height: 70px;
}
